.Card {
  background: blue;
  border: 3px solid blue;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.Title {
  font-weight: 900;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
}

.Content {
  background: white;
  color: black;
  padding: 20px;
}